@model asp_mvc_std_v2.Areas.SklepArea.Models.ZamowieniaIndexViewModel
@using asp_mvc_std_v2
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Zamowienia_Create" asp-route-id="@Model.IdSklepu">Dodaj nowe zamowienie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.zamowienia.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zamowienia.FirstOrDefault().DataUtworzenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zamowienia.FirstOrDefault().Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.zamowienia)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUtworzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Zamowienia_Edit" asp-route-id="@item.Id">Dodaj Produkty</a> |
                <a asp-action="Zamowienia_Details" asp-route-id="@item.Id">Szegoly</a> |
                <a asp-action="Zamowienia_Edit_Zam" asp-route-id="@item.Id">Edytuj Status</a>
            </td>
        </tr>
        }
    </tbody>
</table>
